

footer {
    text-align: center;
    color: white;
    background-color:rgb(51, 51, 51);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

/* testing changing all p to white */
p {
    color:white;
}

.section-title {
    margin: auto;
    padding-top: 2em;
    text-align: center;
    color: yellow;
    font-size: 2em;
}
.product-type { 
    font-size: 1.5em;
    text-align: center;
}
.description {
    font-size: 1em;
    text-align: center;
}
#products-section {
    background-color: rgb(140, 140, 140); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(204, 204, 204), rgb(64, 64, 64));
    width: 100%;
}
.products {
    max-width: 30%;
    margin: auto;
}
  
/* testing image set normally not as a background */
#top-background-image {
    width: 100%;
    height: auto;
    margin-top: 3.5em;
}

#about-me {
    background-color: rgb(140, 140, 140); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(204, 204, 204), rgb(64, 64, 64));
    width: 100%;
    padding: 0em 30% 1em 30%;
}
#about-me-picture {
    width: 10em;
}

@media screen and (max-width: 800px) {
    .products {
        max-width: 50%;
    }
    #about-me {
        padding: 0em 10% 1em 10%;
    }
}
@media screen and (max-width: 480px) {
    .products {
        max-width: 90%;
    }

}
